@import "../node_modules/bootstrap/scss/bootstrap.scss"

body
    background-color: #000
    margin: 0px
    display: flex
    align-items: center
    justify-content: center

// CARDS ---------
.card
    border-radius: 20px
    border: none !important
    height: 50%
.inner-card
    background-color: #1d204b
    border-radius: 20px
.svg
    width: 40px
.fond-orange
    background-color: hsl(15, 100%, 70%)
.fond-bleu
    background-color: hsl(195, 74%, 62%)
.fond-rouge
    background-color: hsl(348, 100%, 68%)
.fond-vert
    background-color: hsl(145, 58%, 55%)
.fond-mauve
    background-color: hsl(264, 64%, 52%)
.fond-jaune
    background-color: hsl(43, 84%, 65%)

// USER-CARD ---------
.card-user
    background-color: #1d204b
    border-radius: 20px
.container-user
    background-color: #5746ea
    border-radius: 20px
.inner-card-user
    background-color: #1d204b
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
.user-image
    width: 60px
    border-radius: 50%
    border: 10px solid white !important
    border-color: white !important
h1
    font-size: 22px

// MQ
@media (min-width: 1024px) and ( max-width: 3000px)
    body
        height: 100vh
